<h1>Editing category</h1>
<%= render :partial => "categories/form" %>
<div class="box-header">Categorizations</div>
<div class="box">
	<% if @category.categorizations.length > 0 %>
		<% for categorization in @category.categorizations %>
			<% if @category.websites.include?(categorization.website) %>
				<%= categorization.website.title %> <%=reorder_buttons categorization %><br />
			<% end %>
		<% end %>
	<% else %>
		No categorizations
	<% end %>
</div>
<div class="box-header">Other Websites</div>
<div class="box">
	<% for website in Website.find(:all) %>
		<% unless @category.websites.include?(website) %>
			<%= website.title %> [ <%= link_to 'Add', category_categorizations_path(@category, :website_id => website.id), :method => :post %> ]<br />
		<% end %>
	<% end %>
</div>
<% if logged_in? %>
	<ul class="individual">
		<li><%= link_to 'Show', @category %></li>
		<li><%= link_to 'Destroy', @category, :confirm => 'Are you sure?', :method => :delete %></li>
	</ul>
<% end %>